<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{item.name}} | socialking.az</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><h3>socialking.az</h3></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                
                <li><a href="{%url 'shoppingcart'%}"><i class="fa fa-shopping-bag"></i> <span>{{basket}}</span></a></li>
            </ul>
            
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../static/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            {%if request.session.userID%}
            <div class="header__top__right__auth">
                <a href="{%url 'profile'%}"><i class="fa fa-user"></i> Welcome , <b> {{request.session.userName}}</b>    </a>
            </div> 
            <div class="header__top__right__auth" >
                <a href="{%url 'addbalance'%}"><i class="fa fa-money"></i><span>Balance : {{request.session.userBalance}} &#x20BC;</span></a>
            </div>
            <div class="header__top__right__auth">
                <a href="{%url 'logout'%}" style="margin-left: 2cm;">    <i class="fa fa-arrow-circle-left"></i>  Log Out</a>
            </div>
            {%else%}
            <div class="header__top__right__auth">
                <a href="{%url 'login'%}"><i class="fa fa-user"></i> Login</a>
            </div>
            <div class="header__top__right__auth">
                <a href="{%url 'signup'%}"><i class="fa fa-user-plus"></i> Sign Up</a>
            </div>
            {%endif%}
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{%url 'index'%}">Home</a></li>
                <li><a href="{%url 'shop'%}">Shop</a></li>
       
                <li><a href="{%url 'contact'%}">Contact</a></li>
                {%if request.session.userID%}
                            <li><a href="{%url 'orders'%}">My Orders</a></li>
                            {%endif%}
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://instagram.com/socialkingaz"><i class="fa fa-instagram"></i></a>
            
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> admin@socialkingaz.com</li>
             
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> admin@socialkingaz.com</li>
                             
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://instagram.com/socialkingaz"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="../static/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            {%if request.session.userID%}
                            <div class="header__top__right__auth">
                                <a href="{%url 'profile'%}"><i class="fa fa-user"></i> Welcome ,  <b>{{request.session.userName}}</b>    </a>
                            </div> 
                            <div class="header__top__right__auth" >
                                <a href="{%url 'addbalance'%}"><i class="fa fa-money"></i><span>Balance : {{request.session.userBalance}} &#x20BC;</span></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{%url 'logout'%}" style="margin-left: 9cm;">    <i class="fa fa-arrow-circle-left"></i>  Log Out</a>
                            </div>
                            {%else%}
                            <div class="header__top__right__auth">
                                <a href="{%url 'login'%}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{%url 'signup'%}"><i class="fa fa-user-plus"></i> Sign Up</a>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{%url 'index'%}"><h3>socialking.az</h3></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{%url 'index'%}">Home</a></li>
                            <li class="active"><a href="{%url 'shop'%}">Shop</a></li>
                            
                            <li><a href="{%url 'contact'%}">Contact</a></li>
                            {%if request.session.userID%}
                            <li><a href="{%url 'orders'%}">My Orders</a></li>
                            {%endif%}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                           
                            <li><a href="{%url 'shoppingcart'%}"><i class="fa fa-shopping-bag"></i> <span>{{basket}}</span></a></li>
                        </ul>
                       
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {%if categories%}
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul>
                            {%for category in categories%}
                            <li><a href="#">{{category.category_name}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                    {%endif%}
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+994 (50) 623 40 16</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{item.name}}</h2>
                        <div class="breadcrumb__option">
                            <a href="{%url 'index'%}">Home</a>
                            <a href="{%url 'shop'%}">Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="../{{item.product_image}}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                        
                            <img data-imgbigurl="../{{item.product_image}}"
                                src="../{{item.product_image}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form method="post">{%csrf_token%}
                    <div class="product__details__text">
                        <h3>{{item.name}}</h3>
                       
                       {%if item.discount%}
                       <div class="product__details__price">&#x20BC;{{item.discount}}     <s>${{item.price}}</s></div>
                       {%else%}
                       <div class="product__details__price">&#x20BC;{{item.price}}</div>
                       {%endif%}
                        <p>{{item.info}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" name="productQuantity">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="site-btn" name="productID"  value="{{item.product_id}}">ADD TO CARD</button>
                        
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            
                        </ul>
                    </div>
                </form>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                            </li>
                          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Comments</a>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Product Infomation</h6>
                                    <p>{{item.info}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                   </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for related in prods%}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../{{related.product_image}}">
                            <ul class="product__item__pic__hover">
                               
                               
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{related.product_id}}">{{related.name}}</a></h6>
                            <h5>${{related.price}}</h5>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{%url 'index'%}"><h3>socialking.az</h3></a>
                        </div>
                        <ul>
                            <li>Address: Abbas Mirza Sharifzadah , Baku , Azerbaijan </li>
                            <li>Phone: +994 (50) 623 40 16</li>
                            <li>Email: admin@socialkingaz.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            
                            <a href="https://instagram.com/socialkingaz"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  </p></div>
                        <div class="footer__copyright__payment"><img src="../static/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/main1.js"></script>
    <script>

        let arr = Array.from(document.querySelectorAll(".owl-item.cloned"));
if(Array.from(document.querySelectorAll(".owl-item")).length - Array.from(document.querySelectorAll(".owl-item")).filter(x => x.className.includes("cloned")).length <= 5) {
    document.querySelector(".owl-stage").style.transform = "unset";
    document.querySelector(".owl-stage").style.pointerEvents = "none";
    arr.forEach(elem => {
        elem.remove();
    });
   
}
    </script>


</body>

</html>